In [2]:
# Dependency 
import pandas as pd

In [3]:
# outline filepath and read csvs
inspections = "Resources/inspections.csv"
violations = "Resources/violations.csv"
zip_codes = "Resources/us_zip_codes.csv"
real_estate = "Resources/rent_by_zip.csv"

inspections = pd.read_csv(inspections)
violations = pd.read_csv(violations)
zip_codes = pd.read_csv(zip_codes)
real_estate = pd.read_csv(real_estate)

In [4]:
#Remove unnecessary row from dataset 
clean_df = violations.drop(["serial_number","grade","row_id","violation_status","service_code","program_name", "program_element_pe", "facility_address", "service_description", "employee_id","facility_state","record_id", "owner_name", "owner_id", "program_element_pe","program_name"],axis =1)

renamed_df = clean_df.rename(columns={"facility_name": "Facility Name",
                                      "activity_date": "Date",
                                        "score": "Score",
                                        "grade": "Grade",
                                        "pe_description": "Description",
                                        "facility_city": "City",
                                        "facility_id": "Facility ID",
                                        "facility_zip": "Zip Code",
                                        "program_status": "Status"})
renamed_df.head()
# x = renamed_df["Facility Name"]
# x.head()

,Date,Facility Name,violation_code,violation_description,points,City,Facility ID,Zip Code,Description,Status,Score
0,2018-03-30T00:00:00,KRUANG TEDD,F030,# 30. Food properly stored; food storage conta...,1,LOS ANGELES,FA0064949,90027,RESTAURANT (31-60) SEATS HIGH RISK,ACTIVE,92
1,2018-03-30T00:00:00,KRUANG TEDD,F027,# 27. Food separated and protected,1,LOS ANGELES,FA0064949,90027,RESTAURANT (31-60) SEATS HIGH RISK,ACTIVE,92
2,2018-03-30T00:00:00,KRUANG TEDD,F035,# 35. Equipment/Utensils - approved; installed...,1,LOS ANGELES,FA0064949,90027,RESTAURANT (31-60) SEATS HIGH RISK,ACTIVE,92
3,2018-03-30T00:00:00,KRUANG TEDD,F033,# 33. Nonfood-contact surfaces clean and in go...,1,LOS ANGELES,FA0064949,90027,RESTAURANT (31-60) SEATS HIGH RISK,ACTIVE,92
4,2018-03-30T00:00:00,KRUANG TEDD,F029,"# 29. Toxic substances properly identified, st...",1,LOS ANGELES,FA0064949,90027,RESTAURANT (31-60) SEATS HIGH RISK,ACTIVE,92

In [5]:
# Create dataframe with only score and zipcode 
zip_data = renamed_df[["Score","Zip Code"]].groupby("Zip Code").mean()

# Drop any rows with a NaN value 
zip_data = zip_data.dropna(how="any")

# Reset the index
zip_data.reset_index(inplace=True)

# Merge Median Rent data 
zip_data1 = zip_data.merge(real_estate, on="Zip Code", how = "left")
zip_data1.sort_values(by="Median Rent 2016",ascending=False).head()

    Zip Code      Score  Median Rent 2016
78     90272  93.392857           2738.71
69     90094  93.035503           2504.00
88     91326  98.000000           2497.36
66     90077  92.063492           2400.60
85     91307  99.000000           2341.20

In [6]:
# number of unique facilities by zip 
gb_zip = renamed_df.groupby(["Zip Code"])
number_of_facilites = gb_zip["Facility ID"]
facilities_by_zip = number_of_facilites.nunique()
facilities_by_zip

# exclude zips with less than 5 unique locations 
meaningful_zip = facilities_by_zip > 5
facilities_df = facilities_by_zip[meaningful_zip].sort_values(ascending = False)
facilities_df.head()

Zip Code
90028    498
90012    454
90045    440
90006    418
90036    365
Name: Facility ID, dtype: int64

In [7]:
# Average number of health code violations in LA by facility 
violation_by_facility = renamed_df["violation_code"].count() / renamed_df["Facility ID"].nunique()
violation_by_facility

21.431455731007933

In [8]:
# number of violations by zip 
gb_zip = renamed_df.groupby(["Zip Code"])["violation_code"]
violations_by_zip = gb_zip.count().sort_values(ascending = False)
violations_by_zip.mean()

violations_by_zip.head()

Zip Code
90012    10741
90020    10520
90028    10410
90006     9583
90005     9197
Name: violation_code, dtype: int64

In [9]:
#Unique violations by restaurant 
gb = renamed_df.groupby(["Facility Name"])
yes = gb["violation_code"].nunique()
yes = yes.dropna(how="any")
yes = yes.sort_values(ascending = False)
yes.head()

Facility Name
CHINA EXPRESS         38
WHOLE FOODS MARKET    37
HONG KONG EXPRESS     35
SUBWAY                34
DODGER STADIUM        34
Name: violation_code, dtype: int64

In [10]:
# number of violations by restaurant
violation_by_facility = gb["violation_code"].count()
violation_by_facility = violation_by_facility.dropna(how="any")
violation_by_facility = violation_by_facility.sort_values(ascending = False)
violation_by_facility.head()

Facility Name
DODGER STADIUM                981
STAPLES CENTER (LEVY)         969
LA COLISEUM                   673
THE COFFEE BEAN & TEA LEAF    449
WHOLE FOODS MARKET            446
Name: violation_code, dtype: int64

In [11]:
#Narrowing in on specific number of violations by Facility ID 
#violation_by_facility[["Facility ID","FA0019271"]]

In [12]:
#Number of health code violations in LA 
renamed_df["violation_code"].count()

272801

In [13]:
#Unique facilities inspected
renamed_df["Facility ID"].nunique()

12729