In [106]:
import pandas as pd
#import time

In [117]:
inspections = "Resources/inspections.csv"
violations = "Resources/violations.csv"
zip_codes = "Resources/us_zip_codes.csv"
real_estate = "Resources/rent_by_zip.csv"

inspections = pd.read_csv(inspections)
violations = pd.read_csv(violations)
zip_codes = pd.read_csv(zip_codes)
real_estate = pd.read_csv(real_estate)

In [214]:
#Remove unnecessary row from dataset 

clean_df = violations.drop(["serial_number","grade","row_id","violation_status","service_code","program_name", "program_element_pe", "facility_address", "service_description", "employee_id","facility_state","record_id", "owner_name", "owner_id", "program_element_pe","program_name"],axis =1)

renamed_df = clean_df.rename(columns={"facility_name": "Facility Name",
                                      "activity_date": "Date",
                                        "score": "Score",
                                        "grade": "Grade",
                                        "pe_description": "Description",
                                        "facility_city": "City",
                                        "facility_id": "Facility ID",
                                        "facility_zip": "Zip Code",
                                        "program_status": "Status"})
x = renamed_df["Facility Name"]
x.head()

0    KRUANG TEDD
1    KRUANG TEDD
2    KRUANG TEDD
3    KRUANG TEDD
4    KRUANG TEDD
Name: Facility Name, dtype: object

In [217]:
# TESTING - remove when finished 
zip_data = renamed_df[["Score","Zip Code"]].groupby("Zip Code").mean()
zip_data.head()

              Score
Zip Code
90001     91.883549
90002     93.088475
90003     90.918092
90004     91.237967
90005     89.151245

In [ ]:
zip_data = renamed_df[["Score","Zip Code","Date"]].groupby("Zip Code").mean()
zip_data = zip_data.dropna(how="any")
zip_data.reset_index(inplace=True)
zip_data1 = zip_data.merge(real_estate, on="Zip Code", how = "left")
zip_data1.sort_values(by="Median Rent 2016",ascending=False).head()

In [213]:
# number of unique facilities by zip 
gb_zip = renamed_df.groupby(["Zip Code"])
number_of_facilites = gb_zip["Facility ID"]
facilities_by_zip = number_of_facilites.nunique()
facilities_by_zip

# exclude zips with less than 5 unique locations 
meaningful_zip = facilities_by_zip > 5
facilities_df = facilities_by_zip[meaningful_zip].sort_values(ascending = False)
facilities_df.head()

Zip Code
90028    498
90012    454
90045    440
90006    418
90036    365
Name: Facility ID, dtype: int64

In [ ]:
#NOT WORKING
#Print the data to a csv to add to inspections data
#facilities_df.to_csv("Resources/facilities_byzip.csv",
#                 encoding="utf-8", index=False, header=True)

In [184]:
#Unique violations by restaurant 
gb = renamed_df.groupby(["Facility Name"])
yes = gb["violation_code"].nunique()
yes = yes.dropna(how="any")
yes = yes.sort_values(ascending = False)
yes.head()

Facility Name
CHINA EXPRESS         38
WHOLE FOODS MARKET    37
HONG KONG EXPRESS     35
SUBWAY                34
DODGER STADIUM        34
Name: violation_code, dtype: int64

In [202]:
# number of violations by restaurant
violation_by_facility = gb["violation_code"].count()
violation_by_facility = violation_by_facility.dropna(how="any")
violation_by_facility = violation_by_facility.sort_values(ascending = False)
violation_by_facility.head()

Facility Name
DODGER STADIUM                981
STAPLES CENTER (LEVY)         969
LA COLISEUM                   673
THE COFFEE BEAN & TEA LEAF    449
WHOLE FOODS MARKET            446
Name: violation_code, dtype: int64

In [201]:
#Narrowing in on specific number of violations by Facility ID 
violation_by_facility[["Facility ID","FA0019271"]]

Facility ID
Facility ID      NaN
FA0019271      981.0
Name: violation_code, dtype: float64

In [132]:
#Number of health code violations in LA 
renamed_df["violation_code"].count()

272801

In [160]:
renamed_df["Facility ID"].nunique()

12729

In [25]:
# Average Inspection score 
avg_score = renamed_df.loc[:,"Score"].mean()
avg_score

93.30792227204783

In [203]:
# Median score
median_score = renamed_df.median()
median_score

points          1.0
Zip Code    90026.0
Score          92.0
dtype: float64